html {
  height: 100%;
  width: 100%;
}

/* This is the black gradient on the navigation bar */
body{
  font-family: latha;
  color: white;
  background: linear-gradient(
    rgba(0,0,0,0.75),rgba(0,0,0,0.65),rgba(0,0,0,0.15),rgba(0,0,0,0)
    ) 
    ,url(pancakes.png)no-repeat;
  background-size:cover;
  
}
/* border of navigation bar */
.nav {
  width: 810px;
  float: right;
  border: 1px solid black;
}
.nav ul li
{
  width: 120px;
  float: left;
  margin: 10px auto;
  text-align: center;

}
/* color of navigation titles */
.nav ul li a {
  text-decoration: none;
  color: darkgray;
}

/* when hovering over the navigation names */
.nav ul li:hover {
  background-color: yellow;
}
.nav ul li a:hover{color: white;}

/* side box, aesthetics */
.side{
  width: 300px;
  height: 539px;
  background-color: darkred;
  opacity: 1;
  padding: 55px;
  
}

/* logo placement */
#thelogo {
    width: 350px;
    height: auto;
    object-fit: side; 
    object-position: center left;
  
  }
