html {
  height: 100%;
  width: 100%;
}

/* logo placement */
#thelogo {
    width: 250px;
    height: auto; 
    position: center;

  }

/* This is the black gradient on the navigation bar */
body{
  font-family: Helvetica;
  color: white;
  
  background: linear-gradient(
    rgba(0,0,0,0.75),rgba(0,0,0,0.80),rgba(0,0,0,0.15),rgba(0,0,0,0)
    ) 
    ,url(photos/benedict.png)no-repeat;
  background-size:cover;
  
}
/* border of navigation bar */
.nav {
  width:100%;
  border: 1.5px solid #7A1003;
  text-align: center;

}
.nav ul li
{
  width: 120px;
  display: inline-block;
  padding: 10px 20px;

}
/* color of navigation titles */
.nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  
}

/* when hovering over the navigation names */
.nav ul li a:hover{
  color: #7A1003;
  transition: .3s;   
}

/* side box, aesthetics */
.side{
  width: 310px;
  height: 200px;
  background-color: #7A1003;
  opacity: 0.9;
  padding: 70px;
  position: fixed;
  bottom: 0;
}

.f1{
  font-size: large;
  
}

.f2{
  font-family: Monaco, monospace;
}